@charset "utf-8";

/* 顶部 */
body,html{ overflow:auto; overflow-x:hidden}
.find{width:700px;height:510px;background:url(../img/bg.png) right bottom no-repeat #f7f7f7;}
.find-top{ width:100%;height:33px; background:#db424e;border-top-left-radius:5px;border-top-right-radius:5px;}
.find-top-left{height:33px;float:left;}
.find-top-right{height:33px;float:right;}
.find-top-left img{margin-left:13px;margin-top:9px;}
.find-top-left span{font-family:'微软雅黑';font-size:14px;padding-left:10px;color:#fff;height:33px; line-height:33px;display:inline-block;}
.find-top-right{position:relative;}
.find-top-right a span img{position:absolute;right:11px;top:14px;}
.find-top-right a strong img{position:absolute;right:35px;top:15px;height:10px;}

.md-icon,.icon-arrow, .icon-btn-search, .icon-btn-x, .icon-btn-prev, .icon-btn-next, .icon-btn-arrow,.arrow {
    background-image: url('../images/maidi.png');
    background-repeat: no-repeat;
    display: inline-block;
    font-size: 0;
}
.icon-arrow{background-position:-295px -295px;width:7px;height:4px;}
.icon-tag:hover .icon-arrow{background-position: -262px -411px;}

/* 搜索 */
.find-search{height:30px;border-bottom:1px solid #e4d2d2;padding:19px 0 17px 10px;position:relative;}
#zone-wrap{width:70px;float:left;height:30px;line-height:30px;font-size:17px;font-family:'微软雅黑';color:#dd535d;cursor:pointer;text-align:right;text-overflow:ellipsis;white-space:nowrap; -o-text-overflow:ellipsis;overflow:hidden; margin-right:5px; }
#zone-wrap span{width:70px;display:block;text-align:right;float:left;}
.area .zone-img{float:left;margin-top:13px;margin-right:20px;}
#zone-list{width:321px;background:#fff7f0;position:absolute;left:0px;top:48px;z-index:0;
border-radius:3px;border:1px solid #c6c7c8;display:none;}
.find-search ul li{height:32px;line-height:32px;font-size:12px;text-align:center;cursor:pointer; color:#dd535d;}
.find-search ul span{display:block;margin-left:3px;float:left;}
.find-search ul span:hover{color:#0eacdf;}
.find-search ul a{display:block;margin-left:6px;padding:3px;float:left;}
.find-search ul a:hover{color:#0eacdf;}
.list-city{width:321px; }
.zone-te{margin-left:3px;border-bottom:1px solid #fdeded;}
.zone-te span{margin:0 3px;}
.zone-province{width:45px;float:left;position:relative;text-align:center;}
.zone-province strong{font-weight:normal;position:absolute;top:0px;left:0px;}
.zone-province strong:hover{color:#0eacdf;}
.zone-city{width:146px;position:absolute;top:12px;left:40px;background:#fffbfb;border:1px solid #eaeaea;display:none;border-radius:3px;max-height:353px;overflow:auto;overflow-x:hidden;scrollbar-arrow-color: #fff; scrollbar-face-color: #e8e6e6; scrollbar-3dlight-color: #fff; scrollbar-highlight-color: #fff;scrollbar-shadow-color: #fff;scrollbar-darkshadow-color: #fff; scrollbar-track-color: #fff;white-space: nowrap}

.zone-city::-webkit-scrollbar{width:6px;}
.zone-city::-webkit-scrollbar-track{background:#fff7f0}
.zone-city::-webkit-scrollbar-thumb{background:#ece6e6;border-radius:4px;}
.zone-city::-webkit-scrollbar-track{background:#fffbfb;}
.zone-city::-moz-scrollbar{width:6px;}
.zone-city::-moz-scrollbar-track{background:#fff7f0}
.zone-city::-moz-scrollbar-thumb{background:#ece6e6;border-radius:4px;}
.zone-city::-moz-scrollbar-track{background:#fffbfb;}
.zone-city::scrollbar{width:6px;}
.zone-city::scrollbar-track{background:#fff7f0}
.zone-city::scrollbar-thumb{background:#ece6e6;border-radius:4px;}
.zone-city::scrollbar-track{background:#fffbfb;}

.search-wraper {
    
}

.search-wraper .wraper {
    border: solid 1px #dababf;
    border-right: 0px;
    height: 29px;
    float: left;
}
.search-wraper .tab-wraper {
    position: relative;
    float: left;
    width: 70px;
    height: 29px;
    display: block;
    z-index: 3300;
}
.search-wraper .tab-wraper .tab {
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
    height: 29px;
    line-height: 29px;
    width: 68px;
    border-right: solid 1px #e5e5e5;
    border-left: solid 1px #f5f5f5;
}
.search-wraper .tab-wraper .tab:hover {
    height: 62px;
    width: 68px;
    border-left: solid 1px #e5e5e5;
    border-bottom: solid 1px #e5e5e5;
    z-index: 1000;
}
.search-wraper .tab-wraper .tab .triggers 
{
    text-align:left;
    text-indent:15px;
    color: #6b6b6b;
    line-height:29px;
    height:29px;
}
.search-wraper .tab-wraper .tab .trigger {
    background-color: #fff;
    cursor: pointer;
    line-height:32px;
    height:32px;
    text-align:left;
}
.search-wraper .tab-wraper .tab .selected {
    background-color: #f5f5f5;
}
.search-wraper .tab-wraper .icon-arrow {
    position: absolute;
    right: 10px;
    top: 13px;
}
.search-wraper .inputs {
    float: left;
    height: 31px;
    overflow: hidden;
}
.search-wraper .inputs .search-combobox-input {
    border: none;
    border-width: 0px;
    width: 385px;
    padding-left: 5px;
    outline: 0px;
    height: 31px;
    line-height: 31px;
    font-size: 14px;
}
.search-wraper .submit {
    float: left;
    width: 80px;
    height: 35px;
    border: none;
    cursor: pointer;
    outline: 0px;
    background-color: #dc0000;
}

#int{width:350px;height:28px;line-height:28px;color:#afafaf;outline:none;border:none;border-left:1px solid #dababf;border-right:1px solid #dababf;padding-left:11px;font-size:12px;}
#btnSearch{width:96px;height:28px;outline:none;border:none;background:#da424e;line-height:28px; border-radius:5px;color:#fff;font-size:14px;margin-left:20px;cursor:pointer;}

/* 内容左边 */
.find-wrap{height:408px; }
.find-wrap-left{float:left;_position:relative;-webkit-box-shadow: 3px 0px 3px #e3e1e1;-moz-box-shadow: 3px 0px 3px #e3e1e1; box-shadow: 3px 0px 3px #e3e1e1;}
.find-wrap-left img{ border-bottom-left-radius:3px;}
.find-wrap-left-list{width:188px;background:#f6f5f5;box-right-shadow:5px 5px #CCC; height:380px;}
.find-wrap-list{width:188px;height:68px;cursor:pointer;background:url(../img/right1.png) 166px 16px no-repeat; vertical-align:top;}
.find-wrap-list:hover{background:url(../img/right2.png) 166px 16px no-repeat #f1f1f0 !important;}
.find-wrap-list h5{padding-top:8px;padding-left:16px;font-weight:normal;font-size:14px;height:24px;line-height:24px;}
.find-wrap-list h5 img{margin-top:7px;margin-right:7px;}
.find-wrap-type{height:22px;line-height:22px;font-size:12px; color:#81807e; border-bottom:1px solid #eee8e8;padding:3px 0 10px 0;margin-left:14px;width:174px;overflow: hidden;}
.find-wrap-type span{display:block;float:left;margin-right:7px;}
.find-wrap-type span a{color:#81807e; }
.find-wrap-type span a:hover{color:#e0656b; }
.find-wrap-right{width:486px;float:left;margin-left:14px;}
.find-pro-list{scrollbar-arrow-color: #f1f1f0; scrollbar-face-color: #e8e6e6; scrollbar-3dlight-color: #f1f1f0; scrollbar-highlight-color: #f1f1f0;scrollbar-shadow-color: #f1f1f0;scrollbar-darkshadow-color: #f1f1f0; scrollbar-track-color: #f1f1f0;overflow:auto;overflow-x:hidden;white-space: nowrap}
.find-pro-list::-webkit-scrollbar{width:6px;}
.find-pro-list::-webkit-scrollbar-track{background:#fff7f0}
.find-pro-list::-webkit-scrollbar-thumb{background:#dedbdb;border-radius:4px;}
.find-pro-list::-webkit-scrollbar-track{background:#f1f1f0;}
.find-pro-list::-moz-scrollbar {width:6px;}
.find-pro-list::-moz-scrollbar-track{background:#fff7f0}
.find-pro-list::-moz-scrollbar-thumb{background:#dedbdb;border-radius:4px;}
.find-pro-list::-moz-scrollbar-track{background:#f1f1f0;}
.find-pro-list::scrollbar{width:6px;}
.find-pro-list::scrollbar-track{background:#fff7f0}
.find-pro-list::scrollbar-thumb{background:#dedbdb;border-radius:4px;}
.find-pro-list::scrollbar-track{background:#f1f1f0;}

.find-pro-list{width:200px;height:431px;padding:6px 9px 6px 5px;position:absolute;left:188px;top:67px;z-index:10;background:#f1f1f0;overflow-x:hidden;display:none;-webkit-box-shadow:3px 0px 3px #e0dfdf;-moz-box-shadow:3px 0px 3px #e0dfdf; box-shadow: 3px 0px 3px #e0dfdf;}
.find-pro-list a{font-size:12px;margin:0 6px;color:#a39f9c;height:30px;line-height:30px; display:block; float:left;}
.find-pro-list a:hover{color:#e0656b;}

/* 内容右边 */
.find-wrap-right h6{height:44px;line-height:44px;font-size:14px;padding-left:11px;}
.right-pro{border-left:1px solid #e7e3e2;}
.right-pro a{display:block;float:left;width:120px;height:53px;border-top:1px solid #e7e3e2;border-left:1px solid #e7e3e2;}
.right-pro img{border-right:1px solid #e7e3e2;border-bottom:1px solid #e7e3e2;width:100%;height:100%;}



