.mapAddress-main {
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	z-index: 600;
	background: #E2E2EC;
}

.animated {
	animation-duration: 500ms;
}

.mgTop5 {
	margin-top: 5px;
}

.mgTop8 {
	margin-top: 8px;
}


/***搜索--start--**/

.div-search {
	width: 110px;
	position: absolute;
	z-index: 1;
	margin-top: 8px;
	background: rgba(255, 255, 255, .8);
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, .4);
	border-radius: 3px;
	margin-left: 10px;
}

.div-search p {
	margin-top: 5px;
	margin-left: 5px;
}

.div-search .chooseArea .mui-ellipsis {
	line-height: 35px;
	padding-left: 5px;
	font-size: 13px;
}

.div-search .chooseArea .md-icon {
	position: absolute;
	top: 8px;
	right: 4px;
}

.div-search .input_box {
	background: #fff;
	height: 30px;
	overflow: hidden;
	margin: 0px 10px;
	border-radius: 5px;
}

.div-search .input_box input {
	width: 100%;
	padding: 5px 40px 5px 10px;
	font-size: 13px;
	height: 21px;
	margin-top: 6px;
	margin-bottom: 0px;
	border: none;
}

.div-search i {
	display: block;
	height: 30px;
	width: 30px;
	padding-top: 4px;
	position: absolute;
	right: 6px;
	top: 2px
}

.div-search i:after {
	position: absolute;
	left: -7px;
	right: 0;
	top: 0;
	height: 27px;
	width: 1px;
	content: '';
	-webkit-transform: scaleY(0.5);
	transform: scaleY(0.5);
	background-color: #C8C7CC;
}

.div_search_result {
	width: 100%;
	bottom: 0px;
	position: fixed;
	top: 187px;
	left: 0px;
	z-index: 80000;
	background-color: #fff;
	overflow-x: scroll;
}

.serach_result_close {
	position: fixed;
	right: 5px;
	top: 157px;
	width: 20px;
	height: 20px;
	z-index: 800;
}

.search_box {
	position: fixed;
	top: 40px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	z-index: 2000000;
	background: #E2E2EC;
	;
}

.search_box .search_result {
	overflow: hidden;
	position: absolute;
	top: 60px;
	right: 0px;
	left: 0px;
	bottom: 1px;
	overflow-y: scroll;
}

.wth-40 {
	width: 40px !important;
}


/***搜索--end--**/


/***地图--start--**/

.dv_map {
	width: 100%;
	position: absolute;
	bottom: 0px;
	top: 140px;
}

.map_mark {
	position: absolute;
	top: calc(50% - 15px);
	;
	left: calc(50% + 18px);
	;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 50;
}

.map_mark label {
	position: absolute;
	display: inline;
	cursor: inherit;
	border: 1px solid rgb(255, 0, 0);
	padding: 1px;
	white-space: nowrap;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	font-size: 12px;
	line-height: normal;
	font-family: arial, sans-serif;
	z-index: 80;
	-webkit-user-select: none;
	left: 28px;
	top: 3px;
	background-color: rgb(255, 255, 255);
}

.map_address {
	position: absolute;
	max-width: 130px;
	cursor: inherit;
	border: 1px solid rgb(255, 0, 0);
	padding: 1px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	font-size: 12px;
	line-height: normal;
	font-family: arial, sans-serif;
	z-index: 80;
	-webkit-user-select: none;
	left: 61%;
	top: 42%;
	-webkit-transform: translate(-6px);
	transform: translate(-6px);
	max-width: 130px;
	background-color: rgb(255, 255, 255);
}

.map_container {
	width: 100%;
	height: 100%;
}

.location_self {
	width: 35px;
	height: 30px;
	background: rgba(255, 255, 255, .8);
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, .4);
	border-radius: 3px;
	position: absolute;
	right: 10px;
	top: 88px;
	z-index: 800;
	padding-left: 9px;
	padding-top: 5px;
}


/***地图--end--**/


/***footer--start--**/

footer {
	position: fixed;
	bottom: 0px;
	right: 0px;
	left: 0px;
	width: 100%;
	display: inline-block;
	z-index: 200;
	padding: 0px;
	margin: 0px;
}

footer button {
	width: 50% !important;
	border-radius: 0px !important;
	height: 30px;
	height: 40px;
}

footer .mui-btn-block {
	margin-bottom: 0px;
	border-radius: 0px;
}


/***footer--end--**/


/**城市选择 */

,
*:before,
*:after {
	box-sizing: border-box;
	outline: none;
}

a,
label,
button,
input,
select {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

p {
	margin-bottom: 0px;
}

.m-cityselect-main {
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	z-index: 900;
}

.m-cityselect-mark {
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background: #000;
	opacity: 0.5;
}

.m-cityselect {
	width: 100%;
	height: 400px;
	z-index: 1000;
	background-color: #fff;
	position: absolute;
	overflow: hidden;
	bottom: 0px;
}

.cityselect-header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
}

.cityselect-header:after {
	content: '';
	position: absolute;
	z-index: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	border-bottom: 1px solid #D9D9D9;
	-webkit-transform: scaleY(0.5);
	transform: scaleY(0.5);
	-webkit-transform-origin: 0 100%;
	transform-origin: 0 100%;
}

.cityselect-title {
	width: 100%;
	font-size: 14px;
	text-align: center;
	height: 45px;
	line-height: 45px;
	position: relative;
}

.cityselect-title:after {
	content: '';
	position: absolute;
	z-index: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	border-bottom: 1px solid #B2B2B2;
	-webkit-transform: scaleY(0.5);
	transform: scaleY(0.5);
	-webkit-transform-origin: 0 100%;
	transform-origin: 0 100%;
}

.cityselect-nav {
	width: 100%;
	padding-left: 4px;
	overflow: hidden;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.cityselect-nav>a {
	font-size: 12px;
	color: #222;
	display: block;
	height: 40px;
	line-height: 46px;
	padding: 0 3px;
	position: relative;
	margin-right: 2px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 40%;
}

.cityselect-nav>a.crt:after {
	content: '';
	width: 100%;
	height: 2px;
	background-color: #F23030;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 2;
}

.cityselect-content.cityselect-prev {
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
}

.cityselect-content.cityselect-next {
	-webkit-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
}

.cityselect-content.cityselect-move-animate {
	-webkit-transition: -webkit-transform .3s;
	transition: -webkit-transform .3s;
	transition: transform .3s;
	transition: transform .3s, -webkit-transform .3s;
}

.cityselect-content {
	height: 100%;
	padding-top: 85px;
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.cityselect-content>.cityselect-item {
	display: block;
	height: inherit;
	width: 50%;
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 50%;
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	background-color: #FFF;
}

.cityselect-content>.cityselect-item::-webkit-scrollbar {
	width: 0;
}

.cityselect-item-box {
	width: 100%;
	height: inherit;
	display: block;
	padding: 0 4px;
}

.cityselect-item-box>a.crt {
	color: #F23030;
}

.cityselect-item-box>a {
	color: #333;
	font-size: 12px;
	height: 40px;
	line-height: 40px;
	overflow: hidden;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	position: relative;
	z-index: 1;
}

.cityselect-item-box>a:before {
	content: '';
	position: absolute;
	z-index: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	border-bottom: 1px solid #D9D9D9;
	-webkit-transform: scaleY(0.5);
	transform: scaleY(0.5);
	-webkit-transform-origin: 0 100%;
	transform-origin: 0 100%;
}

.cityselect-item-box>a.crt:after {
	display: block;
	content: '\e60e';
	font-family: "iconfont" !important;
}

.cityselect-item-box>a span {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	display: block;
	line-height: 15px;
}

.cityselect-content>.cityselect-item:nth-child(2n) {
	background-color: #F5F5F5;
}